.container {
  background: rgb(44, 49, 40);
  padding: 50px;
  border-radius: 15px;
  box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.3);
  height: inherit;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  width: 5px;
}

.container::-webkit-scrollbar-track {
  background: none;
  border-radius: 20px;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(240, 248, 255, 0.27);
  border-radius: 20px;
}

.btn__grp {
  display: flex;
  gap: 10px;
}

.close {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 15px;
  right: 25px;
  color: maroon;
  border: none;
  background: none;
}
